//- DATA :: START

-
  var dataObj = {
    navHeaderSetting: [
      {
        href: "setting4.html",
        icon: "profile",
        name: "Profile"
      },
      {
        href: "setting5.html",
        icon: "account",
        name: "Account"
      },
      {
        href: "setting6.html",
        icon: "notification",
        name: "Notification"
      },
      {
        href: "setting7.html",
        icon: "refer",
        name: "Refer a friend"
      },
      {
        href: "setting8.html",
        icon: "billing",
        name: "Billing methods"
      },
    ],
    navFooter0: [
      {
        href: '#',
        name: 'Company'
      },
      {
        href: '#',
        name: 'Privacy'
      },
      {
        href: '#',
        name: 'Terms'
      },
    ],
    navFooter1: [
      {
        href: '#',
        name: 'Help center'
      },
      {
        href: '#',
        name: 'Support community'
      },
      {
        href: '#',
        name: 'Testimonials'
      },
    ],
    navFooter2: [
      {
        href: '#',
        name: 'Features'
      },
      {
        href: '#',
        name: 'Mobile'
      },
      {
        href: '#',
        name: 'Updates'
      },
    ],
    social: []
  };

//- DATA :: END