//- DATA :: START

-
  var dataObj = {
    navHeaderCLassMember: [
      {
        href: '#',
        icon: 'recent',
        name: 'Announcement'
      },
      {
        href: '#',
        icon: 'courses',
        name: 'Courses'
      },
      {
        href: '#',
        icon: 'notes',
        name: 'Notes'
      },
      {
        href: '#',
        icon: 'members',
        name: 'Members'
      }
    ],
    navHeaderSetting: [
      {
        href: "setting4.html",
        icon: "profile",
        name: "Profile"
      },
      {
        href: "setting5.html",
        icon: "account",
        name: "Account"
      },
      {
        href: "setting6.html",
        icon: "notification",
        name: "Notification"
      },
      {
        href: "setting7.html",
        icon: "refer",
        name: "Refer a friend"
      },
      {
        href: "setting8.html",
        icon: "billing",
        name: "Billing methods"
      }
    ],
    navHeaderBrowse1: [
      {
        href: '#',
        icon: 'folder',
        name: 'Courses'
      }
    ],
    navHeaderBrowse2: [
      {
        href: '#',
        icon: 'notes',
        name: 'Notes'
      }
    ],
    navHeaderMessages: [
      {
        href: "#",
        icon: "message-all",
        name: "All"
      },
      {
        href: "#",
        icon: "message-unread",
        name: "Unread"
      },
      {
        href: "#",
        icon: "message-archived",
        name: "Archived"
      }
    ],
    navHeaderMain: [
      {
        href: "#",
        icon: "browse",
        name: "Browse"
      },
      {
        href: "#",
        icon: "notes",
        name: "Study"
      },
      {
        href: "#",
        icon: "recent",
        name: "Recent"
      },
      {
        href: "#",
        icon: "statistics",
        name: "Statistics"
      },
      {
        href: "#",
        icon: "schedule",
        name: "Schedule"
      },
      {
        href: "#",
        icon: "forum",
        name: "Forum"
      },
      {
        href: "#",
        icon: "setting",
        name: "Settings"
      }
    ],
    navHeaderClass: [
      {
        href: '#',
        image: './img/img-user-0.png',
        image2x: './img/img-user-0@2x.png 2x',
        name: 'Class 1'
      },
      {
        href: '#',
        image: './img/img-user-0.png',
        image2x: './img/img-user-0@2x.png 2x',
        name: 'Class 2'
      }
    ],
    navFooter0: [
      {
        href: '#',
        name: 'Company'
      },
      {
        href: '#',
        name: 'Privacy'
      },
      {
        href: '#',
        name: 'Terms'
      },
    ],
    navFooter1: [
      {
        href: '#',
        name: 'Help center'
      },
      {
        href: '#',
        name: 'Support community'
      },
      {
        href: '#',
        name: 'Testimonials'
      },
    ],
    navFooter2: [
      {
        href: '#',
        name: 'Features'
      },
      {
        href: '#',
        name: 'Mobile'
      },
      {
        href: '#',
        name: 'Updates'
      },
    ],
    social: []
  };

//- DATA :: END