//- DATA :: START

-
  var dataObj = {
    navHeader: [],
    navFooter0: [
      {
        href: '#',
        name: 'Company'
      },
      {
        href: '#',
        name: 'Privacy'
      },
      {
        href: '#',
        name: 'Terms'
      },
    ],
    navFooter1: [
      {
        href: '#',
        name: 'Help center'
      },
      {
        href: '#',
        name: 'Support community'
      },
      {
        href: '#',
        name: 'Testimonials'
      },
    ],
    navFooter2: [
      {
        href: '#',
        name: 'Features'
      },
      {
        href: '#',
        name: 'Mobile'
      },
      {
        href: '#',
        name: 'Updates'
      },
    ],
    social: []
  };

//- DATA :: END