//- MIXIN :: START

include ./_mixin/_svg-icon
include ./_mixin/_picture
include ./_mixin/_logotype
include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal
include ./_mixin/_nav

mixin btnStar()
  a(href="#" title="" class="")
    +iconSVG('star')

mixin btnSwitcher()
  a(href="#" title="" class="")
    +iconSVG('switcher')

mixin btnSetting()
  a(href="#" title="" class="")
    +iconSVG('setting')

mixin btnText()
  a(href="#" title="" class="")
    +iconSVG('text')

mixin btnSwap()
  a(href="#" title="" class="")
    +iconSVG('swap')

mixin btnPrevNext()
  a(href="#" title="" class="")
    +iconSVG('prev-next')

mixin btnKeyboard()
  a(href="#" title="" class="")
    +iconSVG('keyboard')

mixin btnShuffle()
  a(href="#" title="" class="")
    +iconSVG('shuffle')

//- MIXIN :: END