// DESIGNED :: START

section#designed.designed
  .c-grid
    .designed__wrapper.d-flex.align-items-center.justify-content-sm-between
      .designed__wrapper-left
        h1.designed__title.title!= "Designed for students and teachers"
        p.designed__text.text!= "Menrva is a useful resource that belongs in every school. Sign up for Menrva today to see how it can promote learning in the classroom!"
        a.designed__btn.c-btn.c-btn--bigH.c-btn--darkGray(
          href="#"
          title="" class=""
        )!= "Start my free trial"

      .designed__wrapper-right
        .designed__block

// DESIGNED :: END