// LEARN :: START

section#learn.learn
  .c-grid
    .learn__wrapper

      h1.learn__title.title!= "Learn anything.<br>Remember everything."

      a.learn__btn.c-btn.c-btn--darkGray.c-btn--bigH(
        href="#"
        title="" class=""
      )!= "Start my free trial"

      p.learn__text.text!= "Already a Menrva member? <a href='#'>Log in now.</a>"

// LEARN :: END