// PARADIGM :: START

section#paradigm.paradigm
  .c-grid
    .paradigm__wrapper.d-flex.align-items-center
      .paradigm__wrapper-left
        h1.paradigm__title.title!= "A paradigm shift <br>in education"
        p.paradigm__text.text!= "Menrva promotes active learning by increasing engagement and interaction. Gain knowledge by studying and reviewing notes and courses. Build the community by participating in the forum and collaborating to create content."

      .paradigm__wrapper-right
        .paradigm__video
          video(poster="./img/img-poster-paradigm@2x.jpg")
          a(
            href="#"
            title="" class=""
          )
            i.icon-font.icon-play

// PARADIGM :: END