// COMMON :: START

// title
.title {
  color: $c-555555;
  line-height: 1.6;
  font-size: 34px;
  font-weight: 600;
  @include respond(max-small) {
    font-size: 30px;
  }
}
// title :: end

// subtitle :: end
.subtitle {
  color: $c-0e1111;
  line-height: 1;
  letter-spacing: 0.36px;
  font-size: 28px;
  font-weight: 600;
  @include respond(max-small) {
    font-size: 24px;
  }
}
// subtitle :: end

// text
.text {
  color: rgba($c-black, 0.5);
  line-height: 1.8;
  font-size: 14px;
}
// text :: end

// btn
.c-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 129px;
  height: 36px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);
  color: $c-white;
  font-size: 14px;
  font-weight: 500;

  &.c-btn--darkGreen {
    background-color: $c-019552;
  }
  &.c-btn--darkGray {
    background-color: $c-4a4a4a;
  }
  &.c-btn--lightGray {
    color: rgba($c-0e1111, 0.5);
    background-color: $c-f4f4f4;
  }

  &.c-btn--bfz {
    font-size: 14px;
    font-weight: 500;
  }

  &--bigH {
    max-width: 210px;
    height: 54px;
  }

  &--gp,
  &--fb,
  &--tw {
    position: relative;
    max-width: 100%;
    padding: 0 40px;
    box-shadow: none;

    > div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
      padding-left: 20px;

      i {
        color: $c-white;
      }
    }

    > span {
      width: 100%;
      max-width: calc(100% - 80px);
    }
  }

  &--gp {
    margin-bottom: 20px;
    background-color: $c-bf2339;

    i {
      font-size: 14px;
    }
  }

  &--fb {
    margin-bottom: 30px;
    background-color: $c-03396c;

    i {
      font-size: 16px;
    }

    .c-modal--refer & {
      margin-bottom: 0;
      margin-top: 30px;
    }
  }

  &--tw {
    margin-bottom: 30px;
    background-color: $c-1795cc;

    i {
      font-size: 15px;
    }

    .c-modal--refer & {
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
}
// btn :: end

// copyright
.copyright {
  p {
    color: $c-white;
    letter-spacing: -0.34px;
    font-size: 14px;
  }
}
// copyright :: end

// social
.social {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-right: 11px;

    &:hover {
      i {
        opacity: 0.8;
        @include transition(opacity);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    i {
      color: $c-white;
      font-size: 24px;
      @include transition(opacity);
    }
  }
}
// social :: end

// form
.form {
  &__field {
    position: relative;
    margin-bottom: 20px;

    &.is-invalid {
      .form__input,
      .form__select {
        border-color: #d0021b;
      }

      &.form__field--checkbox {
        u {
          border-color: #d0021b;
        }
      }

      input[type='radio'] {
        + label {
          &:before {
            border-color: #d0021b;
          }
          &:after {
            background-color: #d0021b;
          }
        }
      }
    }

    &--follow {
      display: flex;
      align-items: center;
      min-height: 76px;
      margin-bottom: 0;

      > div {
        display: flex;
        width: 50%;

        &:nth-of-type(1) {
          align-items: center;
        }
        &:nth-of-type(2) {
          justify-content: flex-end;
        }
      }

      .form__circle {
        position: relative;
        width: 38px;
        height: 38px;
        margin-right: 20px;
        border-radius: 100%;
        background-color: #e8e8e8;
      }

      p {
        color: #555352;
        font-size: 14px;
        font-weight: 600;
      }

      a {
        font-size: 12px;
      }
    }

    &--radiogroup {
      margin-bottom: 40px;
    }

    &--btnInput {
      .form__input-wrap {
        display: flex;
      }

      input {
        width: calc(100% - (137px + 20px));
      }

      button {
        max-width: 137px;
        margin-left: auto;
      }
    }

    &--group {
      display: flex;

      .c-modal--payment & {
        .form__field--input {
          margin-bottom: 0;
        }
      }

      .form__field--input {
        width: calc(100% - 10px);
        margin-left: 10px;
        margin-right: 10px;

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }

      .c-modal--payment &,
      .c-modal--promo & {
        .form__field--radio {
          &:nth-child(1) {
            width: calc(100% - 75px);
          }
          &:nth-child(2) {
            width: 75px;
          }
        }
      }
    }

    &--swipe {
      position: relative;
      margin-bottom: 40px;

      input {
        display: none;
        position: absolute;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        top: 0;
        left: 0;
        &:checked {
          + label {
            div {
              &:nth-child(2) {
                &:before {
                  left: 14px;
                  @include transition(left);
                }
              }
            }
          }
        }
      }

      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          &:nth-child(1) {}
          &:nth-child(2) {
            position: relative;
            width: 32px;
            height: 14px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 9px;
            background-color: #e8e8e8;

            &:before {
              content: '';
              position: absolute;
              top: -2px;
              left: 0;
              width: 18px;
              height: 18px;
              border-radius: 100%;
              background-color: #52805b;
              @include transition(left);
            }
          }
          &:nth-child(3) {
            position: relative;

            span {
              white-space: nowrap;
              position: absolute;
              top: -12px;
              left: 95%;
              color: #019552;
              font-size: 12px;
            }
          }

          p {
            color: $c-black;
            font-size: 14px;
          }
        }
      }
    }

    &--select {
      justify-content: space-between;

      &-date {
        .form__select-wrap {
          position: relative;
          width: 100%;

          &:nth-child(1) {
            max-width: 131px;
          }
          &:nth-child(2) {
            max-width: 88px;
          }
          &:nth-child(3) {
            max-width: 88px;
          }
        }
      }
    }

    &--radio {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 24px;

      > input {
        display: none;
        position: absolute;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        top: 0;
        left: 0;
        &:checked {
          + label {
            &:before {
              border-color: $c-019552;
              @include transition(border-color);
            }
            &:after {
              background-color: $c-019552;
              transform: translateY(-50%) scale(1);
              @include transition(background-color, transform);
            }
          }
        }
      }

      label {
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;
        margin: 0;

        &:before,
        &:after {
          cursor: pointer;
          content: '';
          position: absolute;
          display: inline-block;
          top: 50%;
          border-radius: 100%;
        }

        &:before {
          left: 0;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          vertical-align: middle;
          border: 1px solid #9b9b9b;
          @include transition(border-color);
        }

        &:after {
          left: 6px;
          transform: translateY(-50%) scale(0);
          width: 8px;
          height: 8px;
          @include transition(background-color, transform);
        }

        span {
          cursor: pointer;
          display: inline-block;
          vertical-align: top;
          padding-left: 30px;
          color: #7f7f7f;
          font-weight: 500;
        }

        .form__radio--input {
          outline: none;
          width: 39px;
          height: 24px;
          margin-right: 10px;
          padding: 0 5px;
          border-radius: 2px;
          border: none;
          box-shadow: none;
          background-color: $c-d8d8d8;

          &:first-of-type {
            margin-left: 30px;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    &--checkbox {
      position: relative;
      height: auto;

      input {
        display: none;
        position: absolute;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        top: 0;
        left: 0;
        &:checked {
          + label {
            u {
              border-color: $c-019552;
            }

            span {
              .setting & {
                color:  $c-0e1111;
                @include transition(color);
              }
            }

            i {
              opacity: 1;
              color: $c-019552;
              transform: translate(-50%, -50%) scale(0.7);
              @include transition(color, opacity, transform);
            }
          }
        }
      }

      label {
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;

        u {
          cursor: pointer;
          position: absolute;
          display: inline-block;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background-color: $c-white;
          border: 1px solid $c-0e1111;
          vertical-align: middle;
          transition: all 0.3s ease-in-out;
        }

        i {
          opacity: 0;
          position: absolute;
          display: inline-block;
          left: 10px;
          top: calc(50% + 1px);
          transform: translate(-50%, -50%) scale(0);
          font-size: 12px;
          @include transition(color, opacity, transform);
        }

        span {
          cursor: pointer;
          display: inline-block;
          padding-left: 30px;
          vertical-align: top;

          .setting & {
            color: #7f7f7f;
            @include transition(color);
          }

          a {
            color: $c-0e1111;
          }
        }
      }
    }

    &--btn {
      margin-bottom: 0;

      .new__form & {
        margin-top: 40px;
      }
      .c-modal--login &,
      .c-modal--reset &,
      .c-modal--register &,
      .c-modal--payment &,
      .c-modal--plan &,
      .c-modal--delAcc &,
      .c-modal--forum & {
        margin-top: 30px;
      }

      .c-modal--promo & {
        margin-top: 40px;
      }

      .c-modal--forum & {
        max-width: 200px;
        margin-left: auto;
      }
    }

    &--link {
      margin-top: 20px;
    }
  }

  &__input {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid $c-cbcecb;
    background-color: transparent;
    @include inputPlaceholder {
      color: #7f7f7f;
    }

    &-wrap {
      position: relative;
      width: 100%;
      height: 54px;
    }
  }

  &__textarea {
    resize: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid $c-cbcecb;
    background-color: transparent;
    @include inputPlaceholder {
      color: #7f7f7f;
    }

    &-wrap {
      position: relative;
      width: 100%;
      height: 216px;

      .c-modal--forum & {
        height: 162px;
      }
    }
  }

  &__select {
    width: 100%;
    height: 54px;
    border-radius: 4px;
    border: 1px solid $c-cbcecb;
    background-color: transparent;

    select {
      opacity: 0;
      cursor: pointer;
      outline: none;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: none;
      box-shadow: none;
    }

    .select__value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      line-height: 54px;
      width: calc(100% - 34px);
      padding-left: 20px;
      color: #7f7f7f;

      &.is-choose {
        color: $c-0e1111;
      }
    }

    .select__icon-wrap {
      z-index: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;

      i {
        color: #9b9b9b;
        font-size: 7px;
      }
    }
  }

  &__label {
    cursor: pointer;
    display: block;
    margin: 0;
    padding-bottom: 10px;
    font-size: 12px;
  }

  &__btn {
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);
    background-color: $c-019552;
    color: $c-white;
    font-size: 14px;
    font-weight: 500;

    .c-modal--delName & {
      &:first-of-type {
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: $c-f4f4f4;
        color: rgba($c-0e1111, 0.5);
      }
    }

    .c-modal--reportUser & {
      margin-top: 30px;
    }

    .new__form & {
      max-width: 255px;
      margin-left: auto;
    }
  }

  &__link {
    display: block;
    color: $c-0e1111;
    text-align: center;
  }

  &__notify {
    &--show {
      padding-top: 10px;
      padding-bottom: 15px;
    }

    &--hide {
      display: none;
    }

    &-icon {
      width: 30px;
      padding-right: 10px;

      &-error {
        i {
          color: #d0021b;
          font-size: 11px;
        }
      }
      &-check {
        i {
          color: $c-019552;
          font-size: 10px;
        }
      }
    }

    span {
      width: 100%;
      max-width: calc(100% - 30px);
    }

    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
// form :: end

// modal
.c-modal {
  z-index: 100;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  background-color: rgba($c-f9fbf9, 0.95);
  text-align: center;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -4px;
  }

  &--plan,
  &--payment,
  &--promo,
  &--storage {
    .c-modal__text,
    .c-modal__title {
      max-width: 100%;
      text-align: center;
    }

    .c-modal__text {
      padding-bottom: 15px;
    }

    .c-modal__title {
      padding-bottom: 30px;
    }
  }

  &--promo {
    .c-modal__title {
      padding-top: 10px;
    }
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px;
    border-radius: 6px;
    background-color: $c-white;
    box-shadow: 0 16px 45px 0 rgba(#022B18, 0.13);

    .c-modal--refer &,
    .c-modal--forum & {
      max-width: 609px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__header {
    position: relative;
    min-height: 52px;
    padding-bottom: 10px;

    .c-modal--refer &,
    .c-modal--reportUser &,
    .c-modal--reportNote &,
    .c-modal--forum & {
      padding-bottom: 30px;
    }

    p {
      width: 100%;
      max-width: calc(100% - 30px);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 30px;
      width: 30px;

      i {
        color: #9b9b9b;
        font-size: 16px;
      }
    }
  }

  &__close {
    .c-modal--payment &,
    .c-modal--plan &,
    .c-modal--storage & {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__info {
    min-height: 54px;
    padding-bottom: 30px;

    .c-modal--plan &,
    .c-modal--storage & {
      min-height: auto;
      padding-bottom: 10px;
      color: $c-019552;
      letter-spacing: 0.87px;
      text-align: center;
      font-size: 46px;
      font-weight: 600;
    }

    .c-modal--storage & {
      color: $c-0e1111;
    }

    a {
      color: #555352;
      font-weight: 500;
    }
  }

  &__subinfo {
    padding-bottom: 50px;
    text-align: center;
    font-size: 14px;

    .c-modal--storage & {
      color: rgba($c-0e1111, 0.5);
    }
  }
  
  &__subtitle {
    padding-bottom: 15px;
    color: #555352;
    text-align: center;
    font-size: 14px;

    .c-modal--plan &,
    .c-modal--payment &,
    .c-modal--storage & {
      max-width: 100%;
    }
  }

  &__text {
    font-size: 12px;

    .c-modal--reset &,
    .c-modal--delAcc &,
    .c-modal--delName & {
      padding-bottom: 30px;
    }

    .c-modal--reportUser & {
      padding-bottom: 21px;
      font-weight: 600;
    }

    .c-modal--reportNote & {
      color: rgba($c-black, 0.5);
      line-height: 1.8;
      font-size: 14px;

      a {
        color: rgba($c-black, 1);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      display: flex;
      align-items: center;
      padding-bottom: 20px;

      > div {
        width: 44px;
        padding-right: 20px;
        text-align: center;

        i {
          color: $c-019552;
          font-size: 12px;
        }
      }

      p {
        width: 100%;
        max-width: calc(100% - 44px);
        color: rgba($c-0e1111, 0.5);
      }
    }
  }
}
// modal :: end

// search
.search {
  position: relative;
  width: 100%;
  max-width: 381px;
  height: 40px;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__drop {
    display: none;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    width: 100%;
    max-width: calc(100% - 54px);
    max-height: calc((54px * 5) + 20px);
    padding: 10px 0;
    border-radius: 4px;
    background-color: $c-white;
    box-shadow: 0 2px 14px 0 rgba($c-black, 0.13);

    a {
      display: flex;
      align-items: center;
      min-height: 54px;
      padding: 0 20px;
      color: $c-0e1111;
      @include transition(background-color);

      &:hover {
        background-color: #f8f9fa;
        @include transition(background-color);
      }
    }
  }

  &__input {
    outline: none;
    width: 100%;
    max-width: calc(100% - 54px);
    height: 100%;
    padding: 0 20px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    @include inputPlaceholder {
      color: $c-0e1111;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &__btn {
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 100%;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #019552;

    i {
      color: $c-white;
      font-size: 15px;
    }
  }
}
// search :: end

// profile
.profile {
  display: flex;
  align-items: center;

  &__left {
    margin-right: 40px;
  }

  &__right {
    .dropdown {
      &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 2px solid $c-white;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &-menu {
        min-width: 255px;
        transform: translate3d(-205px, 74px, 0px) !important;
        padding: 10px 0;
        margin: 0;
        border: none;
        border-radius: 4px;
        box-shadow: 0 2px 14px 0 rgba($c-black, 0.13);

        &:before {
          content: "";
          z-index: -1;
          position: absolute;
          top: -7px;
          right: 20px;
          width: 15px;
          height: 20px;
          transform: rotate(45deg);
          background-color: $c-white;
          box-shadow: 0 2px 14px 0 rgba($c-black, 0.13);
        }

        &:after {
          content: '';
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          background-color: $c-white;
        }
      }

      &-item {
        z-index: 2;
        position: relative;
        display: flex;
        align-items: center;
        min-height: 54px;
        padding: 0 21px;
        border-top: 1px solid #e8e8e8;
        @include transition(background-color);

        &:first-child {
          display: flex;
          align-items: center;
          padding: 0 17px;
          border-top: none;

          &:hover {
            background-color: transparent;
          }

          .dropdown-item-circle {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 38px;
            height: 38px;
            border-radius: 100%;

            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .dropdown-item--left {
            width: 48px;
            padding-right: 10px;
            margin: 0;
          }

          .dropdown-item--right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            max-width: calc(100% - 48px);
            margin: 0;

            p,
            span {
              line-height: 1.2;
            }

            p {
              font-size: 12px;
              font-weight: 500;
            }

            span {
              display: block;
              font-size: 10px;
            }
          }
        }

        &:hover {
          @include transition(background-color);
        }

        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          margin-right: 14px;

          i {
            font-size: 20px;
          }
        }

        span {
          font-size: 12px;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $c-white;

    i {
      margin-right: 15px;
      color: $c-white;
      font-size: 19px;
    }

    span {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
// profile :: end

// custon dropdown
.c-dropdown {
  .dropdown {
    &.show {
      z-index: 1;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 24px;
      height: 24px;

      span {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: #7f7f7f;
      }
    }

    &-menu {
      min-width: 255px;
      transform: translate3d(-221px, 34px, 0px) !important;
      padding: 10px 0;
      border: none;
      border-radius: 4px;
      background-color: $c-white;
      box-shadow: 0 2px 14px 0 rgba($c-black, 0.13);

      &:before {
        content: "";
        z-index: -1;
        position: absolute;
        top: -7px;
        right: 15px;
        width: 15px;
        height: 20px;
        transform: rotate(45deg);
        background-color: $c-white;
        box-shadow: 0 2px 14px 0 rgba($c-black, 0.13);
      }

      &:after {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: $c-white;
      }
    }

    &-item {
      z-index: 2;
      position: relative;
      display: flex;
      align-items: center;
      min-height: 54px;
      padding: 0 21px;
      @include transition(background-color);

      &:hover {
        @include transition(background-color);
      }

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-right: 14px;

        .icon-edit {
          font-size: 18px;
        }
        .icon-star-full {
          font-size: 18px;
        }
        .icon-remove {
          font-size: 17px;
        }
        .icon-save {
          font-size: 18px;
        }
        .icon-info {
          font-size: 20px;
        }
        .icon-ban {
          font-size: 20px;
        }
      }

      span {
        font-size: 12px;
      }
    }
  }
}
// custon dropdown :: end

// COMMON :: END