// COMMON :: START

// title
.title {
  color: $c-555555;
  line-height: 1.6;
  font-size: 34px;
  font-weight: 600;
  @include respond(max-small) {
    font-size: 30px;
  }
}
// title :: end

// subtitle :: end
.subtitle {
  color: $c-0e1111;
  line-height: 1;
  letter-spacing: 0.36px;
  font-size: 28px;
  font-weight: 600;
  @include respond(max-small) {
    font-size: 24px;
  }
}
// subtitle :: end

// text
.text {
  color: rgba($c-black, 0.5);
  line-height: 1.8;
  font-size: 14px;
}
// text :: end

// btn
.c-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 129px;
  height: 36px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);
  color: $c-white;
  font-size: 14px;
  font-weight: 500;

  &.c-btn--darkGreen {
    background-color: $c-019552;
  }
  &.c-btn--darkGray {
    background-color: $c-4a4a4a;
  }

  &--bigH {
    max-width: 210px;
    height: 54px;
  }

  &--gp,
  &--fb {
    position: relative;
    max-width: 100%;
    padding: 0 40px;
    box-shadow: none;

    > div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
      padding-left: 20px;
    }

    > span {
      width: 100%;
      max-width: calc(100% - 80px);
    }
  }

  &--gp {
    margin-bottom: 20px;
    background-color: $c-bf2339;
  }

  &--fb {
    margin-bottom: 30px;
    background-color: $c-03396c;
  }
}
// btn :: end

// section
.section {
  &__wrapper {
    display: flex;

    &-left {
      width: 285px;
      padding-right: 30px;
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 285px);
    }
  }
}
// section :: end

// copyright
.copyright {
  p {
    color: $c-white;
    letter-spacing: -0.34px;
    font-size: 14px;
  }
}
// copyright :: end

// social
.social {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    margin-right: 11px;

    &:hover {
      .icon-svg {
        opacity: 0.8;
        @include transition(opacity);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    .icon-svg {
      width: 22px;
      height: 22px;
      fill: $c-white;
      @include transition(opacity);
    }
  }
}
// social :: end

// form
.form {
  &__field {
    position: relative;
    margin-bottom: 20px;

    &--input {}

    &--radiogroup {
      margin-bottom: 40px;
    }

    &--group {
      display: flex;

      .c-modal--payment & {
        .form__field--input {
          margin-bottom: 0;
        }
      }

      .form__field--input {
        width: calc(100% - 10px);
        margin-left: 10px;
        margin-right: 10px;

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }

      .c-modal--payment &,
      .c-modal--promo & {
        .form__field--radio {
          &:nth-child(1) {
            width: calc(100% - 75px);
          }
          &:nth-child(2) {
            width: 75px;
          }
        }
      }
    }

    &--select {
      justify-content: space-between;

      &-date {
        .form__select-wrap {
          position: relative;
          width: 100%;

          &:nth-child(1) {
            max-width: 131px;
          }
          &:nth-child(2) {
            max-width: 88px;
          }
          &:nth-child(3) {
            max-width: 88px;
          }
        }
      }
    }

    &--radio {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 24px;

      > input {
        display: none;
        position: absolute;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        top: 0;
        left: 0;
        &:checked {
          + label {
            &:before {
              border-color: $c-0e1111;
            }
            &:after {
              transform: translateY(-50%) scale(1);
              @include transition(transform);
            }
          }
        }
      }

      label {
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;
        margin: 0;

        &:before,
        &:after {
          cursor: pointer;
          content: '';
          position: absolute;
          display: inline-block;
          top: 50%;
          border-radius: 100%;
          border: 1px solid $c-0e1111;
        }

        &:before {
          left: 0;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          vertical-align: middle;
        }

        &:after {
          left: 6px;
          transform: translateY(-50%) scale(0);
          width: 8px;
          height: 8px;
          @include transition(transform);
        }

        span {
          cursor: pointer;
          display: inline-block;
          vertical-align: top;
          padding-left: 30px;
        }

        .form__radio--input {
          outline: none;
          width: 39px;
          height: 24px;
          margin-right: 10px;
          padding: 0 5px;
          border-radius: 2px;
          border: none;
          box-shadow: none;
          background-color: $c-d8d8d8;

          &:first-of-type {
            margin-left: 30px;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    &--checkbox {
      position: relative;
      height: auto;

      input {
        display: none;
        position: absolute;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        top: 0;
        left: 0;
        &:checked {
          + label {
            i {
              border-color: $c-0e1111;
            }
            svg {
              opacity: 1;
              transform: translateY(-50%) scale(0.75);
              @include transition(opacity, transform);
            }
          }
        }
      }

      label {
        cursor: pointer;
        position: relative;
        display: block;
        width: 100%;

        i {
          cursor: pointer;
          position: absolute;
          display: inline-block;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background-color: $c-white;
          border: 1px solid $c-0e1111;
          vertical-align: middle;
          transition: all 0.3s ease-in-out;
        }

        svg {
          opacity: 0;
          position: absolute;
          display: inline-block;
          left: 2px;
          top: calc(50% + 1px);
          transform: translateY(-50%) scale(0);
          @include transition(opacity, transform);
        }

        span {
          cursor: pointer;
          display: inline-block;
          padding-left: 30px;
          vertical-align: top;

          a {
            color: $c-0e1111;
          }
        }
      }
    }

    &--btn {
      margin-bottom: 0;

      .new__form & {
        margin-top: 40px;
      }
      .c-modal--login &,
      .c-modal--reset &,
      .c-modal--register &,
      .c-modal--payment &,
      .c-modal--plan &,
      .c-modal--delAcc & {
        margin-top: 30px;
      }

      .c-modal--promo & {
        margin-top: 40px;
      }
    }

    &--link {
      margin-top: 20px;
    }
  }

  &__input {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid $c-cbcecb;
    background-color: transparent;
    @include inputPlaceholder {
      color: #7f7f7f;
    }

    &-wrap {
      position: relative;
      width: 100%;
      height: 54px;
    }
  }

  &__select {
    width: 100%;
    height: 54px;
    border-radius: 4px;
    border: 1px solid $c-cbcecb;
    background-color: transparent;

    select {
      opacity: 0;
      cursor: pointer;
      outline: none;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: none;
      box-shadow: none;
    }

    .select__value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      line-height: 54px;
      width: calc(100% - 34px);
      padding-left: 20px;
    }

    .select__icon-wrap {
      z-index: 0;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
    }
  }

  &__label {
    cursor: pointer;
    display: block;
    margin: 0;
    padding-bottom: 10px;
    font-size: 12px;
  }

  &__btn {
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);
    background-color: $c-019552;
    color: $c-white;
    font-size: 14px;
    font-weight: 500;

    .c-modal--delName & {
      &:first-of-type {
        margin-top: 30px;
        margin-bottom: 20px;
        background-color: $c-f4f4f4;
        color: rgba($c-0e1111, 0.5);
      }
    }

    .new__form & {
      max-width: 255px;
      margin-left: auto;
    }
  }

  &__link {
    display: block;
    color: $c-0e1111;
    text-align: center;
  }

  &__notify {
    &--show {
      padding-top: 10px;
      padding-bottom: 15px;
    }

    &--hide {
      display: none;
    }

    &-icon {
      width: 30px;
      padding-right: 10px;
    }

    span {
      width: 100%;
      max-width: calc(100% - 30px);
    }

    ul {
      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
// form :: end

// modal
.c-modal {
  z-index: 100;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  background-color: rgba($c-f9fbf9, 0.95);
  text-align: center;

  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -4px;
  }

  &--plan,
  &--payment,
  &--promo {
    .c-modal__text,
    .c-modal__title {
      max-width: 100%;
      text-align: center;
    }

    .c-modal__text {
      padding-bottom: 25px;
    }

    .c-modal__title {
      padding-bottom: 45px;
    }
  }

  &--promo {
    .c-modal__title {
      padding-top: 10px;
    }
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 60px;
    border-radius: 6px;
    background-color: $c-white;
    box-shadow: 0 16px 45px 0 rgba(#022B18, 0.13);
  }

  &__header {
    min-height: 52px;
    padding-bottom: 10px;

    p {
      width: 100%;
      max-width: calc(100% - 30px);
    }

    a {
      display: flex;
      justify-content: flex-end;
      width: 30px;

      svg {
        fill: #9b9b9b;
        transform: scale(1.2);
      }
    }
  }

  &__close {
    svg {}
  }

  &__info {
    min-height: 54px;
    padding-bottom: 30px;

    .c-modal--plan & {
      min-height: auto;
      padding-bottom: 0;
      line-height: 1;
      letter-spacing: 0.87px;
      text-align: center;
      font-size: 46px;
      font-weight: 600;
    }

    a {
      color: $c-0e1111;
      font-weight: 500;
    }
  }

  &__subinfo {
    padding-bottom: 50px;
    text-align: center;
    font-size: 14px;
  }

  &__text {
    .c-modal--reset &,
    .c-modal--delAcc &,
    .c-modal--delName & {
      padding-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    li {
      display: flex;
      align-items: center;
      padding-bottom: 20px;

      > div {
        width: 44px;
        padding-right: 20px;
        text-align: center;
      }

      p {
        width: 100%;
        max-width: calc(100% - 44px);
      }
    }
  }
}
// modal :: end

// COMMON :: END