// SOON :: START

.soon {
  padding-top: 179px;
  padding-bottom: 212px;

  &__wrapper {
    display: flex;
    align-items: center;

    &-left,
    &-right {
      width: 50%;
    }

    &-left {
      display: flex;
      justify-content: center;
    }

    &-right {
      padding: 0 15px;
    }
  }

  &__block {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;

    &-0 {
      z-index: 0;
      top: 0;
      left: 0;
    }

    &-1 {
      z-index: 1;
      bottom: 0;
      right: 0;
    }

    &-wrapper {
      position: relative;
      width: 100%;
      max-width: 405px;
      height: 561px;
    }
  }

  &__title {
    padding-bottom: 30px;
  }

  &__text {
    width: 100%;
    max-width: 445px;
  }
}

// SOON :: END