// DESIGNED :: START

.designed {
  display: flex;
  align-items: center;
  min-height: 740px;

  &__wrapper {
    &-right {
      width: 50%;
    }

    &-left {
      width: 100%;
      max-width: 415px;
      padding-right: 30px;
    }
  }

  &__block {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 540px;
    height: 322px;
    margin-left: auto;
    border-radius: 4px;
    background-color: $c-f6f6f6;
    box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);
  }

  &__title {
    padding-bottom: 30px;
    line-height: 1.4;
  }

  &__text {
    padding-bottom: 30px;
  }
}

// DESIGNED :: END