// LEARN :: START

.learn {
  display: flex;
  align-items: center;
  min-height: 740px;
  background-color: $c-e8e8e8;
  background-image: url('../img/img-bg-learn@2x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);

  &__wrapper {
    padding-right: 95px;
    padding-bottom: 10px;
    text-align: right;
  }

  &__title {
    padding-bottom: 30px;
    line-height: 1.6;
  }

  &__btn {
    margin-left: auto;
    margin-bottom: 20px;
  }

  &__text {
    a {
      color: $c-019552;
      font-weight: 600;
    }
  }
}

// LEARN :: END