// TOOl :: START

.tool {
  background-color: rgba($c-f6f6f6, 0.4);

  .bill__view & {
    background-color: transparent;
  }

  &__wrapper {
    position: relative;
    padding-top: 80px;

    .bill__view & {
      padding-top: 0;
    }
  }

  &__title {
    padding-bottom: 40px;
    text-align: center;
  }

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $c-0e1111;

    i {
      font-size: 13px;
      color: $c-0e1111;
    }

    &:nth-of-type(1) {
      left: -45px;

      i {
        transform: rotate(-180deg);
      }
    }
    &:nth-of-type(2) {
      right: -45px;
    }
  }

  &__preview {
    position: relative;
    width: 100%;
    height: 517px;
    padding: 90px 0;
    border-radius: 4px;
    border: 1px solid $c-979797;
    background-color: $c-white;
    margin-bottom: 60px;

    .bill__view & {
      height: 472px;
      padding: 76px 20px 0;
      margin-bottom: 30px;
      border: none;
      box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);
    }

    &-control {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 76px;
      padding: 10px 25px;

      > div {
        input {
          width: 38px;
          height: 30px;
          margin-right: 10px;
          border-radius: 4px;
          padding: 0 5px;
          border: 1px solid #979797;
          text-align: center;
          color: $c-0e1111;
          font-size: 16px;
          font-weight: 600;
        }

        span {
          color: #7F7F7F;
          font-size: 14px;
          font-weight: 500;

          i {
            color: #7F7F7F;
            font-style: normal;
          }
        }
      }

      i {
        color: $c-0e1111;
      }

      .icon-fullscreen {
        font-size: 20px;
      }
      .icon-star-full {
        font-size: 22px;
      }
      .icon-edit {
        font-size: 22px;
      }
    }

    &-scroll {
      overflow-y: auto;
      max-height: 100%;
      padding-left: 55px;
      padding-right: 55px;

      .bill__view & {
        padding-left: 0;
        padding-right: 0;
      }
    }

    p {
      color: $c-555555;
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 30px;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__control {
    background-color: $c-white;
    box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);

    .bill__view & {
      margin-bottom: 30px;
      box-shadow: none;
      background-color: transparent;
    }

    &-wrap {
      display: flex;
      align-items: center;
      min-height: 72px;

      .bill__view & {
        min-height: auto;
      }
    }

    a {
      display: flex;

      i {
        color: $c-0e1111;
      }
    }

    &-left {
      width: 215px;

      a {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-middle {
      width: 100%;
      max-width: calc(100% - (170px + 215px));

      .bill__view & {
        max-width: calc(100% - (170px));
      }
    }

    &-right {
      width: 170px;

      a {
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &-shuffle {
      width: 70px;
    }

    &-line {
      position: relative;
      width: 100%;
      max-width: calc(100% - (120px + 70px));

      &:after,
      &:before {
        content: "";
        z-index: 0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 6px;
        border-radius: 6px;

      }

      &:before {
        background-color: rgba(#d8d8d8, 0.8);
      }

      &:after {
        width: 50%;
        background-color: rgba(#c0bfbf, 0.5);
      }

      a {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 49%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: $c-019552;
        box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);
      }
    }

    &-group {
      width: 120px;

      a {
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
          transform: rotate3d(0,1,0,180deg);
        }
      }
    }
  }

  .icon {
    &-star {
      font-size: 22px;
    }
    &-setting {
      font-size: 25px;
    }
    &-text {
      font-size: 12px;
    }
    &-swap {
      font-size: 25px;
    }
    &-prev-next {
      font-size: 25px;
    }
    &-keyboard {
      font-size: 18px;
    }
    &-shuffle {
      font-size: 21px;
    }
  }
}

// TOOl :: END