// BILL :: START

.bill {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__row {
    &-2 {
      &.bill__row--info {
        margin-bottom: 0;
        border-top: 1px solid #cbcecb;
        border-bottom: 0;

        > a {
          margin-right: 37px;

          &:hover {
            span,
            i {
              color: #333;
              @include transition(color);
            }
            .forum__box-badge {
              border-color: #333;
              @include transition(border-color);

              &:before {
                border-color: #333;
                @include transition(border-color);
              }
            }
          }

          > i {
            color: rgba($c-black, 0.4);
            font-size: 23px;
          }

          span {
            color: rgba($c-black, 0.4);
            letter-spacing: 0.21px;
            font-size: 16px;
            font-weight: 600;

            i {
              color: rgba($c-black, 0.4);
              font-style: normal;
            }
          }
        }
      }
    }

    &--title {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #cbcecb;

      span {
        color: $c-0e1111;
        letter-spacing: 0.21px;
        font-size: 16px;
        font-weight: 600;
      }
    }

    &--option {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #cbcecb;

      .form {
        &__wrapper {
          &-top {
            display: flex;
            flex-wrap: wrap;
          }

          &-left,
          &-right {
            width: 50%;
          }

          &-left {
            padding-right: 10px;
          }
          &-right {
            padding-left: 10px;
          }
        }
        &__field {
          &-cover {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &--custom  {
            input {
              margin-left: 0;
            }
          }
        }
        &__btn {
          max-width: 155px;
          margin-left: auto;
          margin-top: 0;
        }
      }
    }

    &--import {
      padding-top: 30px;

      &Book {
        .bill__import-block {
          min-height: 105px;
        }
      }
    }

    &--info {
      display: flex;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #cbcecb;

      &.bill__row--book {
        border-bottom: 1px solid #cbcecb;
      }

      .forum__box-badge {
        width: 27px;
        height: 21px;
        @include transition(border-color);

        &:before {
          background-color: #f8fbf9;
        }
        &:after {
          background-color: #f8fbf9;
          @include transition(border-color);
        }
      }

      > a {
        display: flex;
        align-items: center;
        margin-right: 20px;


        &:last-of-type {
          margin-right: 0;
        }

        i {
          color: $c-black;
          font-size: 18px;
        }

        span {
          padding-left: 13px;
          color: #7F7F7F;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    &--post {
      padding-top: 30px;
    }

    &--tabs {
      margin-bottom: 30px;
    }

    &--btn {
      padding-top: 30px;
      padding-bottom: 70px;

      > a {
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        font-weight: 500;
      }
    }

    &--create {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #cbcecb;

      .form__label {
        font-size: 14px;
      }
    }

    &--public {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #cbcecb;
    }

    &--block {
      position: relative;
    }
  }

  &__import {
    &-wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
    }

    &-text {
      color: #333;
      font-size: 12px;
      font-weight: 600;

      span {
        padding-left: 20px;
        font-weight: normal;
      }

      a {
        color: #333;
        font-weight: 600;
      }
    }

    &-block {
      min-height: 275px;

      ul {
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }

          span {
            &:first-of-type {
              min-width: 75px;
            }
          }

          > div {
            width: 50%;
          }

          p {
            &:first-of-type {
              padding-bottom: 10px;
              color: #333;
              letter-spacing: 0.21px;
              font-size: 16px;
              font-weight: 600;
            }
            &:last-of-type {
              color: #7f7f7f;
              font-size: 14px;
              font-weight: 500;
            }
          }

          a {
            i {
              color: #333;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  &__view {
    position: relative;

    &--half {
      .tool__preview {
        height: 237px;
        margin-bottom: 0;

        &:first-of-type {
          border-bottom: 1px solid #cbcecb;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-of-type {
          margin-bottom: 30px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
    &--full {
      .tool__preview {
        height: 472px;
      }
    }
  }

  &__block {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 25px;

    &--opacity {
      opacity: 0.5;
    }

    &--two {
      min-height: 206px;

      .bill__block-left {
        width: 40px;

        span {
          color: #333;
          letter-spacing: 0.46px;
          font-size: 24px;
        }
      }
      .bill__block-middle {
        width: 100%;
        max-width: calc(100% - (40px + 130px));
        padding-right: 45px;

        p {
          color: #333;
          line-height: 1.8;
          font-size: 14px;
        }
      }
      .bill__block-right {
        display: flex;
        width: 130px;
      }
    }

    &--three {
      min-height: 120px;

      .bill__block-left,
      .bill__block-middle {
        padding-right: 20px;

        span {
          color: #333;
          letter-spacing: 0.46px;
          font-size: 24px;
        }

        p {
          color: #333;
          line-height: 1.8;
          font-size: 14px;
        }
      }
      .bill__block-left {
        display: flex;
        align-items: center;
        position: relative;
        width: 344px;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: 1px;
          height: 55px;
          background-color: #e8e8e8;
        }

        > div {
          &:nth-child(1) {
            width: 40px;
          }
          &:nth-child(2) {
            width: 100%;
            max-width: calc(100% - 40px);
          }
        }
      }
      .bill__block-middle {
        width: 337px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .bill__block-right {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: calc(100% - (344px + 337px));
      }
    }

    &--create {
      > a {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 110px;
        left: 44px;
        right: 0;
        width: 44px;
        height: 44px;
        margin: 0 auto;
        border-radius: 50%;
        background-color: #019552;

        > i {
          margin-left: 1px;
          color: $c-white;
          font-size: 20px;
        }
      }

      .bill__block-left {
        width: 49px;
        padding-right: 0;

        &:after {
          display: none;
        }

        span {
          color: #333;
          letter-spacing: 0.46px;
          font-size: 24px;
        }

        a {
          i {
            color: $c-0e1111;
            font-size: 22px;
          }
        }
      }
      .bill__block-middle,
      .bill__block-right {
        width: 100%;
        max-width: calc((100% - 49px) / 2);

        .form__field {
          width: 100%;
        }
      }

      .bill__block-middle {
        position: relative;
        padding-left: 0;

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          width: 1px;
          height: 55px;
          background-color: #e8e8e8;
        }
      }

      .bill__block-right {
        padding-left: 20px;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &-wrapper {
      position: relative;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-right: 24px;

      &--check {
        &:hover {
          i {
            color: #019552;
            @include transition(color);
          }
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      i {
        color: #333;
        font-size: 22px;
        @include transition(color);

        &.icon-check {
          font-size: 15px;
        }
      }
    }

    .form__field {
      margin-bottom: 0;
    }
  }

  &__create {
    display: flex;

    .c-modal--classAdminEdit & {
      padding-bottom: 40px;
    }

    &-left {
      width: 288px;

      .c-modal--classAdminEdit & {
        width: 207px;
      }
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 288px);

      .c-modal--classAdminEdit & {
        max-width: calc(100% - 207px);
      }
    }

    &-box {
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 257px;
      height: 263px;
      padding: 10px;
      border-radius: 4px;
      border: 1px dashed #979797;
      background-color: $c-white;
      text-align: center;

      .c-modal--classAdminEdit & {
        width: 167px;
        height: 170px;
      }

      img {
        margin-bottom: 30px;

        .c-modal--classAdminEdit & {
          transform: scale(0.75);
          margin-bottom: 15px;
        }
      }

      p {
        font-size: 14px;

        .c-modal--classAdminEdit & {
          font-size: 12px;
        }
      }
    }

    .form__field {

      &:last-child {
        margin-bottom: 0;
      }

      &--group {
        > div {
          width: 100%;
          max-width: calc((100% / 2) - 10px);
        }
      }
    }
  }

  &__public {
    display: flex;
    align-items: center;

    &-left {
      p {
        font-size: 12px;
        font-weight: 500;
      }
    }

    .form__field,
    label {
      margin-bottom: 0;
    }
  }

  &__box {
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-bottom: 0;
    }

    &--opacity {
      opacity: 0.5;
    }

    &-left  {
      width: 50px;
    }

    &-right {
      width: 100%;
      max-width: calc(100% - 50px);
    }

    &-num {
      color: #333;
      letter-spacing: 0.46px;
      font-size: 24px;
    }

    &-btn {
      display: flex;

      i {
        color: $c-0e1111;
        font-size: 22px;
      }
    }

    .form__textarea-wrap {
      height: auto;
      min-height: 60px;
      max-height: 160px;
    }
  }

  &__preview {
    padding: 20px 30px 30px;
    border-radius: 4px;
    background-color: rgba(#d8d8d8, 0.5);
    box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);

    &-head {
      padding-bottom: 20px;
    }

    .tool {
      background-color: transparent;

      &__wrapper {
        padding-top: 0;
      }

      &__preview {
        height: 676px;
        margin-bottom: 0;
        border: none;
        box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);

        &-scroll {
          padding-left: 25px;
          padding-right: 25px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

// BILL :: END