---
title: Menrva - Note assistant remove this bot

contentClassName: p-assistant
dataPageName: assistant7
login: false
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)