---
title: Menrva - Note assistant guest

contentClassName: p-assistant
dataPageName: assistant4
login: false
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)