---
title: Menrva - Note assistant setting

contentClassName: p-assistant
dataPageName: assistant6
login: false
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)