---
title: Menrva - Note assistant admin

contentClassName: p-assistant
dataPageName: assistant5
login: false
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)