---
title: Menrva - Classes admin create an announcement

contentClassName: p-classes
dataPageName: classes24
login: true
---
extends shared/_layout

block content
  div.body(class!= contentClassName)