---
title: Menrva - New messages

contentClassName: p-messages
dataPageName: message3
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuMessages

          .section__wrapper-right

            .section__title.section__title--messages
              .section__title-wrap
                .section__title-left
                  .section__title-icon
                    i.icon-font.icon-message-unread
                  span!= "New messages"

                .section__title-right
                  a(href="#" title="" class="")
                    i.icon-font.icon-error

            .message
              .message__box.section__block
                form.form(action="" method="")
                  .message__box-input
                    .form__field.form__field--input
                      label.form__label(for="sendMessageTo")!= "To"
                      .form__input-wrap
                        input.form__input(type="text" id="sendMessageTo" name="sendMessageTo" placeholder="Enter a username or email")
                      .form__notify.form__notify--hide


                  .message__box-textarea
                    div
                      .message__block-img
                        img(src="./img/img-user-0.png" srcset="./img/img-user-0@2x.png 2x" alt="" title="")

                    div
                      .form__field.form__field--textarea
                        .form__textarea-wrap
                          textarea.form__textarea(id="" name="" placeholder="Add a comment")
                        .form__notify.form__notify--hide

                      .form__field.form__field--btn
                        button.form__btn.message__box-btn(type="submit")!= "Send"
