---
title: Menrva - New messages list

contentClassName: p-messages
dataPageName: message4
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuMessages

          .section__wrapper-right

            .section__title.section__title--messages
              .section__title-wrap
                .section__title-left
                  .section__title-icon
                    i.icon-font.icon-message-unread
                  span!= "New messages"

                .section__title-right
                  a(href="#" title="" class="")
                    i.icon-font.icon-error