---
title: Menrva - Notes save to course

contentClassName: notes
dataPageName: notes7
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#c-modal.c-modal.c-modal--courseSaveNotes
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "Save to course"
          a.c-modal__close(href="#" title="" class="")
            i.icon-font.icon-error

        .c-modal__body

          .btn__wrapper-link
            a.c-btn.c-btn--bigH.c-btn--darkGreen(href="#" title="" class="")
              i.icon-font.icon-folder-add
              span!= "Create a new course"

          .btn__wrapper-add
            a.c-btn.c-btn--bigH.c-btn--lightGray(href="#" title="" class="")
              span!= "Course 1"
              i.icon-font.icon-plus

            a.c-btn.c-btn--bigH.c-btn--lightGray(href="#" title="" class="")
              span!= "Course 1"
              i.icon-font.icon-plus
