---
title: Menrva - Notes discard work?

contentClassName: notes
dataPageName: notes10
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            //include ./macros/_menuSetting

          .section__wrapper-right

            //h1.section__title
            //  .section__title-wrap
            //    .section__title-left
            //      .section__title-icon
            //        +iconSVG('profile')
            //      span!= "Profile"
