---
title: Menrva - Notes end session?

contentClassName: notes
dataPageName: notes9
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#c-modal.c-modal.c-modal--endSession
      .c-modal__wrapper
        .c-modal__header.d-flex.align-items-center
          p.c-modal__title.subtitle!= "End session?"
          a.c-modal__close(href="#" title="" class="")
            i.icon-font.icon-error

        .c-modal__body
          p.c-modal__text!= "Your statistics will not be saved."

          form.form(action="" method="")
            .form__field.form__field--btn
              button.form__btn.form__btn--full(type="submit")!= "End"
              button.form__btn.form__btn--full(type="submit")!= "Cancel"
