---
title: Menrva - Send feedback 2

contentClassName: view
dataPageName: profile6
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .view
          .view__empty
            p!= "Thanks for reaching out!"
            p!= "Our support team is excited to talk to you and will be in touch with the information you requested as soon as possible."