---
title: Menrva - Reset Password

contentClassName: reset
dataPageName: reset2
---
extends shared/_layout

block content
  div.body(class!= contentClassName)

    include components/home/_learn
    include components/home/_paradigm
