---
title: Menrva - Search empty

contentClassName: scan
dataPageName: search13
login: true
---
extends shared/_layout

block content
  div.body.body--start(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left
            include ./macros/_menuMain

          .section__wrapper-right

            .search__empty
              p!= 'No matching "Home" found'
              p!= "Please make sure your words are spelled correctly or use fewer or different keywords"

