---
title: Menrva - Refer a friend

contentClassName: setting
dataPageName: setting9
login: true
---
extends shared/_layout

block content
  div.body(class!= contentClassName)

    section#section.section
      .c-grid
        .section__wrapper
          .section__wrapper-left

          .section__wrapper-right
            