// FOOTER :: START

.footer {
  background-color: $c-00bd70;

  &__wrapper {
    min-height: 339px;

    &-top {
      height: calc(339px - 82px);
      padding-top: 60px;
    }

    &-bottom {
      min-height: 82px;
      border-top: 1px solid rgba($c-white, 0.2);

      .dropdown {
        .btn {
          outline: none;
          display: flex;
          align-items: center;
          background-color: transparent;
          color: $c-white;
          letter-spacing: -0.34px;
          font-size: 14px;
          font-weight: 600;

          &:after {
            display: none;
          }

          i {
            margin-left: 16px;
            color: $c-white;
            font-size: 7px;
          }
        }

        &-menu {
          border: none;
          box-shadow: 0 2px 14px 0 rgba($c-black, 0.13);
        }

        .dropdown-item {
          display: flex;
          align-items: center;
          min-height: 54px;
          padding: 0 20px;
          font-size: 12px;
          @include transition(background-color);

          &:hover {
            @include transition(background-color);
          }
        }
      }
    }
  }

  &__col {
    &-4 {
      p {
        padding-bottom: 10px;
        color: rgba($c-white, 0.8);
        letter-spacing: -0.34px;
        font-size: 14px;
      }

      > a {
        display: block;
        padding-bottom: 40px;
        color: $c-white;
        letter-spacing: -0.43px;
        font-size: 18px;
        font-weight: 600;
        @include transition(opacity);

        &:hover {
          opacity: 0.8;
          @include transition(opacity);
        }
      }
    }
  }
}

// FOOTER :: END