// HEADER :: START

.header {
  z-index: 50;
  position: relative;
  background-color: $c-00bd70;
  box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 72px;

    &-left,
    &-right {
      width: 50%;
    }

    &-start {
      width: 188px;
    }

    &-end {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: calc(100% - 188px);
    }
  }

  &__link {
    white-space: nowrap;
    display: block;
    padding-left: 39px;
    padding-right: 39px;
    color: $c-white;
    font-weight: 500;
  }

  &__btn {
    font-size: 12px;
  }
}

// HEADER :: END