include ../utilities/_mixin
include ../utilities/_data

doctype html
html(lang="en")

  head
    include _head

  body(data-file!= dataPageName)

    if(dataPageName === 'reset2')
      include ../components/reset/_badge-info

    block header
      include ../components/_header


    //- #barba-wrapper
      .barba-container
    block content


    block footer
      include ../components/_footer


  block script
    include _script
