// FULLSCREEN :: START

.fullscreen {
  z-index: 1002;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f9fbf9;

  &--image {
    .fullscreen__wrapper-top {
      height: 100vh;
    }
    .tool__preview {
      padding: 0;
    }
    .tool__preview-control {
      z-index: 2;
      position: relative;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $c-white;
        box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);

        i {
          color: #9B9B9B;
          font-size: 13px;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    &-top {
      overflow-y: auto;
      height: calc(100vh - 72px);
    }

    &-bottom {
      height: 72px;
    }
  }

  &__title {
    padding: 23px 0 20px;
    color: rgba($c-0e1111, 0.4);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }

  .tool {
    background-color: transparent;

    &--full,
    &--half {
      .tool__preview {
        border: none;
      }
    }

    &--full {
      .tool__preview {
        height: 822px;

        &-scroll {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }

    &--half {
      .tool__preview {
        height: 411px;

        &:first-of-type {
          margin-bottom: 0;
          border-bottom: 1px solid #cbcecb;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-of-type {
          margin-bottom: 30px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &-scroll {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          padding-left: 80px;
          padding-right: 80px;
        }
      }
    }

    &__wrapper {
      width: 100%;
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0;
      box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);
    }

    &__control-wrap {
      width: 100%;
      max-width: 1110px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// FULLSCREEN :: END