// LOGOTYPE :: START

.logo {
  &__link {
    display: block;
    color: $c-white;
    letter-spacing: -0.48px;
    font-size: 20px;
    font-weight: 600;

    &:hover {
      color: $c-white;
    }

    p {
      line-height: 1;
    }
  }
}

// LOGOTYPE :: END