// NAV :: START

.nav {
  &__title {
    padding-bottom: 20px;
    color: $c-white;
    letter-spacing: -0.39px;
    font-size: 16px;
    font-weight: 600;
  }

  &__link {
    display: flex;
    align-items: center;
    min-height: 54px;
    padding-left: 20px;
    color: $c-0e1111;
    font-size: 12px;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }

    .nav--footer & {
      display: flex;
      padding-bottom: 16px;
      font-size: 14px;
      color: rgba($c-white, 0.8);
      @include transition(color);

      &:hover {
        color: $c-white;
        @include transition(color);
      }
    }
  }
}

// NAV :: END