// ASSISTANT :: START

.assistant {
  &__circle {
    z-index: 1005;
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 60px;
    bottom: 60px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #00BD70;
    box-shadow: 0 16px 45px 0 rgba(#022B18, 0.13);

    &.is-open {
      i {
        @include icon(error);
        font-size: 18px;
      }
    }

    i {
      color: $c-white;
      font-size: 22px;
    }
  }

  &__block {
    z-index: 1005;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    bottom: 140px;
    right: 60px;
    width: 434px;
    height: 710px;
    border-radius: 10px;
    background-color: #F9FBF9;
    box-shadow: 0 16px 45px 0 rgba(#022B18, 0.13);

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 72px;
      padding: 0 20px 0 30px;
      background-color: #00BD70;

      p {
        color: $c-white;
        letter-spacing: 0.29px;
        font-size: 20px;
        font-weight: 600;
      }

      a {
        color: $c-white;
      }
    }

    &-body {
      height: calc(100% - 72px);
    }

    &-left {
      display: none;
    }

    &-middle {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    &-right {
      display: none;
    }

    &-btn {
      &--full {
        i {
          font-size: 16px;
        }
      }
      &--keyboard {
        i {
          color: #9B9B9B;
          font-size: 15px;
        }
      }
      &--arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #9B9B9B;

        i {
          color: #9B9B9B;
          font-size: 10px;
        }
      }
      &--like {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-left: 5px;
        margin-right: 5px;

        &:nth-of-type(1) {
          transform: rotate(-180deg);
        }

        i {
          color: #9B9B9B;
          font-size: 18px;
        }
        
        &.is-active {
          i {
            color: #00BD70;
          }
        }
      }
    }
  }

  &__chat {
    height: 100%;

    &-body {
      overflow-y: auto;
      height: calc(100% - 84px);
      padding: 0 30px;

      > div {
        &:nth-of-type(1) {}
        &:nth-of-type(2) {
          margin-top: 30px;
          padding-top: 30px;
          padding-bottom: 30px;
          border-top: 1px solid #D8D8D8;
        }
      }
    }

    &-user {
      display: flex;
      padding-top: 30px;

      &:nth-of-type(even) {
        flex-direction: row-reverse;

        .assistant__chat-img {
          margin-left: auto;
        }

        .c-btn {
          margin-left: auto;
        }
      }

      > div {
        &:nth-of-type(1) {
          width: 46px;
        }
        &:nth-of-type(2) {
          width: calc(100% - 46px);
        }
      }

      .c-btn {
        height: 44px;
        font-size: 12px;

        &:hover {
          color: $c-white;
        }
      }
    }
    
    &-img {
      overflow: hidden;
      cursor: pointer;
      position: relative;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      background-color: #D8D8D8;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-message {
      display: flex;
      flex-direction: column;
      padding: 15px 20px;
      border-radius: 6px;
      background-color: $c-white;
      box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);

      > div {
        &:nth-of-type(2) {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-top: 20px;

          span {
            color: #333333;
            text-transform: uppercase;
            font-weight: 600;
          }
        }
      }
      
      p {
        color: #555555;
        line-height: 1.6;
        font-size: 12px;
      }
    }

    &-info {
      display: flex;
      align-items: center;

      > div {
        &:nth-of-type(1),
        &:nth-of-type(3) {
          width: 34px;
        }

        &:nth-of-type(1) {
          a {
            transform: rotate(-180deg);
          }
        }

        &:nth-of-type(2) {
          width: calc(100% - (34px * 2));
        }

        &:nth-of-type(3) {
          a {
            margin-left: auto;
          }
        }
      }
    }

    &-control {
      display: flex;
      align-items: center;
      width: calc(100% - 60px);
      height: 84px;
      margin-left: auto;
      margin-right: auto;
      border-top: 1px solid #D8D8D8;

      > div {
        &:nth-of-type(1) {
          width: 48px;
        }
        &:nth-of-type(2) {
          width: calc(100% - (48px + 86px));
        }
        &:nth-of-type(3) {
          width: 86px;

          button {
            max-width: 66px;
            margin-left: auto;
          }
        }
      }

      .form {
        &__field {
          margin-bottom: 0;
        }

        &__input {
          border: none;
          border-radius: 6px;
          background-color: $c-white;
          box-shadow: 0 3px 4px 0 rgba($c-black, 0.1);

          &-wrap {
            height: 36px;
          }
        }
      }
    }
  }
}

// ASSISTANT :: END