// SETTING NAV :: START

section#menu.menu
  .menu__wrapper
    a.menu__link(
      href="#"
      title="" class=""
    )
      .menu__link-icon
        i.icon-font.icon-arrow
      span!= "Navigation"

  +navIcon('sidebar', dataObj.navHeaderSetting, true)

// SETTING NAV :: END