// SETTING NAV :: START

section#menu.menu
  .menu__wrapper
    a.menu__link(
      href="#"
      title="" class=""
    )
      .menu__link-icon
        i.icon-font.icon-arrow
      span!= "Navigation"

// SETTING NAV :: END