// MAIN NAV :: START

-
  var headerTitle = [
    {
      href: '#',
      name: 'Classes'
    }
  ];

  var headerAdd = [
    {
      href: '#',
      icon: 'join',
      name: 'Join or create a class'
    }
  ];

section#menu.menu
  +navIcon('sidebar nav--sidebar-0', dataObj.navHeaderMain, true)
  +nav('sidebar nav--sidebar-1', headerTitle, false)
  +navImage('sidebar nav--sidebar-2', dataObj.navHeaderClass, false)
  +navIcon('sidebar nav--sidebar-3', headerAdd, false)

// MAIN NAV :: END