.icon-arrow {
  width: 12px;
  height: 8px;
}
.icon-check {
  width: 16px;
  height: 13px;
}
.icon-error {
  width: 13px;
  height: 13px;
}
.icon-i-fb {
  width: 8px;
  height: 17px;
}
.icon-i-gp {
  width: 14px;
  height: 15px;
}
.icon-info {
  width: 20px;
  height: 20px;
}
.icon-play {
  width: 12px;
  height: 18px;
}
.icon-prev-next {
  width: 20px;
  height: 21px;
}
.icon-setting {
  width: 20px;
  height: 20px;
}
.icon-star {
  width: 18px;
  height: 19px;
}
.icon-swap {
  width: 20px;
  height: 20px;
}
.icon-switcher {
  width: 19px;
  height: 19px;
}
.icon-text {
  width: 23px;
  height: 14px;
}
