@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == account {
		$char: "\E001";
	}
	@if $filename == arrow-view {
		$char: "\E002";
	}
	@if $filename == arrow {
		$char: "\E003";
	}
	@if $filename == ban {
		$char: "\E004";
	}
	@if $filename == bill {
		$char: "\E005";
	}
	@if $filename == billing {
		$char: "\E006";
	}
	@if $filename == book {
		$char: "\E007";
	}
	@if $filename == browse {
		$char: "\E008";
	}
	@if $filename == calendar {
		$char: "\E009";
	}
	@if $filename == check {
		$char: "\E00A";
	}
	@if $filename == courses {
		$char: "\E00B";
	}
	@if $filename == edit {
		$char: "\E00C";
	}
	@if $filename == error {
		$char: "\E00D";
	}
	@if $filename == export-2 {
		$char: "\E00E";
	}
	@if $filename == export {
		$char: "\E00F";
	}
	@if $filename == eye {
		$char: "\E010";
	}
	@if $filename == filter {
		$char: "\E011";
	}
	@if $filename == folder-add {
		$char: "\E012";
	}
	@if $filename == folder {
		$char: "\E013";
	}
	@if $filename == forum {
		$char: "\E014";
	}
	@if $filename == fullscreen {
		$char: "\E015";
	}
	@if $filename == help {
		$char: "\E016";
	}
	@if $filename == i-fb {
		$char: "\E017";
	}
	@if $filename == i-gp {
		$char: "\E018";
	}
	@if $filename == i-tw {
		$char: "\E019";
	}
	@if $filename == import {
		$char: "\E01A";
	}
	@if $filename == info {
		$char: "\E01B";
	}
	@if $filename == join {
		$char: "\E01C";
	}
	@if $filename == keyboard {
		$char: "\E01D";
	}
	@if $filename == light {
		$char: "\E01E";
	}
	@if $filename == like {
		$char: "\E01F";
	}
	@if $filename == logout {
		$char: "\E020";
	}
	@if $filename == members-add {
		$char: "\E021";
	}
	@if $filename == members {
		$char: "\E022";
	}
	@if $filename == message-all {
		$char: "\E023";
	}
	@if $filename == message-archived {
		$char: "\E024";
	}
	@if $filename == message-unread {
		$char: "\E025";
	}
	@if $filename == messages-new {
		$char: "\E026";
	}
	@if $filename == notes {
		$char: "\E027";
	}
	@if $filename == notification {
		$char: "\E028";
	}
	@if $filename == notify {
		$char: "\E029";
	}
	@if $filename == play {
		$char: "\E02A";
	}
	@if $filename == plus {
		$char: "\E02B";
	}
	@if $filename == prev-next {
		$char: "\E02C";
	}
	@if $filename == profile {
		$char: "\E02D";
	}
	@if $filename == recent {
		$char: "\E02E";
	}
	@if $filename == refer {
		$char: "\E02F";
	}
	@if $filename == remove {
		$char: "\E030";
	}
	@if $filename == safety {
		$char: "\E031";
	}
	@if $filename == save {
		$char: "\E032";
	}
	@if $filename == schedule {
		$char: "\E033";
	}
	@if $filename == search {
		$char: "\E034";
	}
	@if $filename == select {
		$char: "\E035";
	}
	@if $filename == send-feedback {
		$char: "\E036";
	}
	@if $filename == setting {
		$char: "\E037";
	}
	@if $filename == shuffle {
		$char: "\E038";
	}
	@if $filename == speaker {
		$char: "\E039";
	}
	@if $filename == star-fill {
		$char: "\E03A";
	}
	@if $filename == star-full {
		$char: "\E03B";
	}
	@if $filename == star {
		$char: "\E03C";
	}
	@if $filename == statistics {
		$char: "\E03D";
	}
	@if $filename == swap {
		$char: "\E03E";
	}
	@if $filename == switcher-add {
		$char: "\E03F";
	}
	@if $filename == switcher {
		$char: "\E040";
	}
	@if $filename == text {
		$char: "\E041";
	}
	@if $filename == theme {
		$char: "\E042";
	}
	@if $filename == user-delete {
		$char: "\E043";
	}
	@if $filename == width-small {
		$char: "\E044";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-account {
	@include icon(account);

}
.icon-arrow-view {
	@include icon(arrow-view);

}
.icon-arrow {
	@include icon(arrow);

}
.icon-ban {
	@include icon(ban);

}
.icon-bill {
	@include icon(bill);

}
.icon-billing {
	@include icon(billing);

}
.icon-book {
	@include icon(book);

}
.icon-browse {
	@include icon(browse);

}
.icon-calendar {
	@include icon(calendar);

}
.icon-check {
	@include icon(check);

}
.icon-courses {
	@include icon(courses);

}
.icon-edit {
	@include icon(edit);

}
.icon-error {
	@include icon(error);

}
.icon-export-2 {
	@include icon(export-2);

}
.icon-export {
	@include icon(export);

}
.icon-eye {
	@include icon(eye);

}
.icon-filter {
	@include icon(filter);

}
.icon-folder-add {
	@include icon(folder-add);

}
.icon-folder {
	@include icon(folder);

}
.icon-forum {
	@include icon(forum);

}
.icon-fullscreen {
	@include icon(fullscreen);

}
.icon-help {
	@include icon(help);

}
.icon-i-fb {
	@include icon(i-fb);

}
.icon-i-gp {
	@include icon(i-gp);

}
.icon-i-tw {
	@include icon(i-tw);

}
.icon-import {
	@include icon(import);

}
.icon-info {
	@include icon(info);

}
.icon-join {
	@include icon(join);

}
.icon-keyboard {
	@include icon(keyboard);

}
.icon-light {
	@include icon(light);

}
.icon-like {
	@include icon(like);

}
.icon-logout {
	@include icon(logout);

}
.icon-members-add {
	@include icon(members-add);

}
.icon-members {
	@include icon(members);

}
.icon-message-all {
	@include icon(message-all);

}
.icon-message-archived {
	@include icon(message-archived);

}
.icon-message-unread {
	@include icon(message-unread);

}
.icon-messages-new {
	@include icon(messages-new);

}
.icon-notes {
	@include icon(notes);

}
.icon-notification {
	@include icon(notification);

}
.icon-notify {
	@include icon(notify);

}
.icon-play {
	@include icon(play);

}
.icon-plus {
	@include icon(plus);

}
.icon-prev-next {
	@include icon(prev-next);

}
.icon-profile {
	@include icon(profile);

}
.icon-recent {
	@include icon(recent);

}
.icon-refer {
	@include icon(refer);

}
.icon-remove {
	@include icon(remove);

}
.icon-safety {
	@include icon(safety);

}
.icon-save {
	@include icon(save);

}
.icon-schedule {
	@include icon(schedule);

}
.icon-search {
	@include icon(search);

}
.icon-select {
	@include icon(select);

}
.icon-send-feedback {
	@include icon(send-feedback);

}
.icon-setting {
	@include icon(setting);

}
.icon-shuffle {
	@include icon(shuffle);

}
.icon-speaker {
	@include icon(speaker);

}
.icon-star-fill {
	@include icon(star-fill);

}
.icon-star-full {
	@include icon(star-full);

}
.icon-star {
	@include icon(star);

}
.icon-statistics {
	@include icon(statistics);

}
.icon-swap {
	@include icon(swap);

}
.icon-switcher-add {
	@include icon(switcher-add);

}
.icon-switcher {
	@include icon(switcher);

}
.icon-text {
	@include icon(text);

}
.icon-theme {
	@include icon(theme);

}
.icon-user-delete {
	@include icon(user-delete);

}
.icon-width-small {
	@include icon(width-small);

}