.icon-account {
  width: 18px;
  height: 19px;
}
.icon-arrow {
  width: 12px;
  height: 8px;
}
.icon-billing {
  width: 20px;
  height: 15px;
}
.icon-check {
  width: 16px;
  height: 13px;
}
.icon-edit {
  width: 18px;
  height: 19px;
}
.icon-error {
  width: 13px;
  height: 13px;
}
.icon-i-fb {
  width: 8px;
  height: 17px;
}
.icon-i-gp {
  width: 14px;
  height: 15px;
}
.icon-i-tw {
  width: 19px;
  height: 16px;
}
.icon-info {
  width: 20px;
  height: 20px;
}
.icon-keyboard {
  width: 24px;
  height: 15px;
}
.icon-notification {
  width: 16px;
  height: 21px;
}
.icon-play {
  width: 12px;
  height: 18px;
}
.icon-plus {
  width: 20px;
  height: 21px;
}
.icon-prev-next {
  width: 20px;
  height: 21px;
}
.icon-profile {
  width: 16px;
  height: 18px;
}
.icon-refer {
  width: 21px;
  height: 21px;
}
.icon-remove {
  width: 18px;
  height: 19px;
}
.icon-search {
  width: 18px;
  height: 19px;
}
.icon-setting {
  width: 20px;
  height: 20px;
}
.icon-shuffle {
  width: 22px;
  height: 18px;
}
.icon-star {
  width: 18px;
  height: 19px;
}
.icon-star-full {
  width: 18px;
  height: 19px;
}
.icon-swap {
  width: 20px;
  height: 20px;
}
.icon-switcher {
  width: 19px;
  height: 19px;
}
.icon-text {
  width: 23px;
  height: 14px;
}
